In [21]:
def hash(a):
    return a*7%5
buckets=[[]for _ in range (0,5)]

list=[7,5,3,4,1,2,8]

for i in range (0,len(list)):
    buckets[hash(list[i])].append(list[i])
buckets[hash(9)].append(9)
buckets[hash(4)].remove(4)
print(buckets)

[[5], [3, 8], [1], [9], [7, 2]]

In [24]:
import sqlite3
db = sqlite3.connect("university.db")
cursor=db.cursor()
cursor.execute("""CREATE TABLE IF NOT EXISTS students
(id integer PRIMARY KEY, name text NOT NULL, gender text NOT NULL, age ineger NOT NULL);""")
cursor.execute("""INSERT INTO students(id, name, gender, age) 
VALUES(1, 'zhangsan', 'male', 18)""")
cursor.execute("""INSERT INTO students(id, name, gender, age) 
VALUES(2, 'lisi', 'female', 19)""")
cursor.execute("""INSERT INTO students(id, name, gender, age) 
VALUES(3, 'wangwu', 'male', 17)""")
db.commit()
cursor.execute("SELECT * FROM students")
print(cursor.fetchall())
db.close()

[(1, 'zhangsan', 'male', 18), (2, 'lisi', 'female', 19), (3, 'wangwu', 'male', 17)]

In [27]:
db = sqlite3.connect("university.db")
cursor=db.cursor()
cursor.execute("""CREATE TABLE IF NOT EXISTS class
(id integer PRIMARY KEY, name text NOT NULL, teacher text NOT NULL);""")
cursor.execute("""INSERT INTO class(id, name, teacher) 
VALUES(100, 'Python', 'CZ')""")
cursor.execute("""INSERT INTO class(id, name, teacher) 
VALUES(101, 'Algorithm', 'GM')""")
cursor.execute("""INSERT INTO class(id, name, teacher) 
VALUES(102, 'SQL', 'WX')""")
db.commit()
cursor.execute("SELECT * FROM class")
print(cursor.fetchall())
db.close()

[(100, 'Python', 'CZ'), (101, 'Algorithm', 'GM'), (102, 'SQL', 'WX')]

In [28]:
db = sqlite3.connect("university.db")
cursor=db.cursor()
cursor.execute("""CREATE TABLE IF NOT EXISTS enrolled
(student integer NOT NULL, class integer NOT NULL, grade integer NOT NULL);""")
cursor.execute("""INSERT INTO enrolled(student, class, grade) 
VALUES(1, 100, 80)""")
cursor.execute("""INSERT INTO enrolled(student, class, grade) 
VALUES(2, 102, 90)""")
cursor.execute("""INSERT INTO enrolled(student, class, grade) 
VALUES(3, 101, 70)""")
db.commit()
cursor.execute("SELECT * FROM enrolled")
print(cursor.fetchall())
db.close()

[(1, 100, 80), (2, 102, 90), (3, 101, 70)]