In [7]:
import numpy as np
import pandas as pd 
d={'ID': pd.Series([2018,2019],index=['wangxu','zhengyu']),
   'gender': pd.Series(['male','male'],index=['wangxu','zhengyu'])}
df=pd.DataFrame(d)
df

           ID gender
wangxu   2018   male
zhengyu  2019   male

In [10]:
def mse(a):
    return np.mean((a-np.mean(a))**2)
a=[72,94]
mse(a)

121.0

In [14]:
def ce(a,b):
    return -np.sum(a*np.log2(b))
a=[1,0]
b=[0.9,0.1]
ce(a,b)

0.10536051565782628